<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Theme Template for Bootstrap</title>
    <link rel="icon" href="/daocodebuilder/view/images/favicon.ico">
    <link href="/daocodebuilder/view/css/bootstrap.min.css" rel="stylesheet">
    <link href="/daocodebuilder/view/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/daocodebuilder/view/css/theme.css" rel="stylesheet">
    <script src="/daocodebuilder/view/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><h4>SoonCode</h4></a>
        </div>  ooxx-theme  sssf
      </div>
    </nav>
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>工程构建</h1>
        <p></p>
      </div>

        <div class="page-header">
	        <h1>第一步 : 配置过程的基本参数</h1>
	        
	        <h4>1. 工程所在的工作空间</h4>
	        <input type=" " id=" " class="form-control" placeholder=" 如：D:/workspace/shopping" required autofocus>
	        
	        <h4>2. 工程名称</h4>
	        <input type=" " id=" " class="form-control" placeholder=" 如：shopping" required autofocus>
	        
	        <h4>3. 工程包含的子模块（子系统）</h4>
	        <input type=" " id=" " class="form-control" placeholder=" 如；app,weixin," required autofocus>
	        
	        <h4>4.公司域名倒写（用于指定包结构） </h4>
	        <input type=" " id=" " class="form-control" placeholder=" 如：com.sooncode" required autofocus>
	        
	         
        </div>
        <div class="page-header">
        <h1>第二步 : 环境配置</h1>
        <h4>1. 工程名称</h4>
        <input type=" " id=" " class="form-control" placeholder=" 如：daocodebuilder" required autofocus>
        <h4>2. 工程工作空间</h4>
        <input type=" " id=" " class="form-control" placeholder=" 如：D:/workspace/sooncode" required autofocus>
        <h4>3. 实体类所在包的位置</h4>
        <input type=" " id=" " class="form-control" placeholder="工程名称  如：daocodebuilder" required autofocus>
        <h4>4. Dao层接口和Mapper.xml文件所在包的位置</h4>
        <input type=" " id=" " class="form-control" placeholder="工程名称  如：daocodebuilder" required autofocus>
        <h4>5. 工程名称</h4>
        <input type=" " id=" " class="form-control" placeholder="工程名称  如：daocodebuilder" required autofocus>
      </div>
      
      <div class="page-header">
        <h1>第三步</h1>
      </div>
      <div class="page-header">
        <h1>第四步</h1>
      </div>
      


      


       


   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js"></script>
    
    
    
  </body>
</html>
